<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>${message("admin.groupBuy.add")}</title>
<meta name="author" content="" />
<meta name="copyright" content="" />
<link href="${base}/resources/admin/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${base}/resources/admin/js/jquery.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/jquery.tools.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/jquery.validate.js"></script>
<script type="text/javascript" src="${base}/resources/admin/editor/kindeditor.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/common.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/input.js"></script>
<script type="text/javascript" src="${base}/resources/admin/datePicker/WdatePicker.js"></script>

<script type="text/javascript">
$().ready(function() {

	var $inputForm = $("#inputForm");
	var $deleteGroupBuyProduct = $("a.deleteGroupBuyProduct");
	var $searchBtn = $("#searchBtn")
	var $groupBuyProductTable = $("#groupBuyProductTable");
	
	[@flash_message /]
	
	$.validator.addMethod("compare", 
		function(value, element, param) {
			var parameterValue = $(param).val();
			if ($.trim(parameterValue) == "" || $.trim(value) == "") {
				return true;
			}
			try {
				return parseFloat(parameterValue) <= parseFloat(value);
			} catch(e) {
				return false;
			}
		},
		"${message("admin.groupBuy.compare")}"
	);
	
	// 删除团购产品
	$deleteGroupBuyProduct.live("click", function() {
		var $this = $(this);
		$.dialog({
			type: "warn",
			content: "${message("admin.dialog.deleteConfirm")}",
			onOk: function() {
				$this.closest("tr").remove();
			}
		});
	});
	
	// 表单验证
	$inputForm.validate({
		rules: {
			name: "required",
			prefix: "required",
			minimumQuantity: "digits",
			maximumQuantity: {
				digits: true,
				compare: "#minimumQuantity"
			},
			minimumGroupQuantity: "digits",
			maximumGroupQuantity: {
				digits: true,
				compare: "#minimumGroupQuantity"
			},
			minimumPrice: {
				min: 0,
				decimal: {
					integer: 12,
					fraction: ${setting.priceScale}
				}
			},
			maximumPrice: {
				min: 0,
				decimal: {
					integer: 12,
					fraction: ${setting.priceScale}
				},
				compare: "#minimumPrice"
			},
			priceExpression: {
				remote: {
					url: "check_price_expression.jhtml",
					cache: false
				}
			},
			point: {
				required: true,
				digits: true
			}
		} 
	});
	
	
	$searchBtn.click(function(){
		var $stockMemo = $("#stockMemo");
		if($stockMemo.val()==""){
			$stockMemo.next().show();
			alert($stockMemo.hasClass("fieldError"));
			if(!$stockMemo.hasClass("fieldError")){
				$stockMemo.addClass("fieldError");
			}
			
			return false;
		}else{
			$stockMemo.next().hide();
			if($stockMemo.hasClass("fieldError")){
				$stockMemo.removeClass("fieldError");
			}
			$.ajax({
				url: "search.jhtml",
				type: "POST",
				data: {
					stockMemo: $stockMemo.val()
				},
				contentType: "application/x-www-form-urlencoded; charset=utf-8",
				cache: false,
				success: function(data) {
					$groupBuyProductTable.append(data);
				}
			});
		}
		
	});
	
	$.validator.addClassRules({
		groupBuyProductPrice: {
			min: 0,
			decimal: {
				integer: 12,
				fraction: ${setting.priceScale}
			}
		},
		groupBuyProductOrder: {
			digits: true
		}
	});
});
</script>
</head>
<body>
	<div class="path">
		<a href="admin/common/index.jhtml">${message("admin.path.index")}</a> &raquo; ${message("admin.groupBuy.add")}
	</div>
	<form id="inputForm" action="save.jhtml" method="post">
		<ul id="tab" class="tab">
			<li>
				<input type="button" value="${message("admin.groupBuy.base")}" />
			</li>
			<li>
				<input type="button" value="${message("GroupBuy.introduction")}" />
			</li>
			<li>
				<input type="button" value="${message("admin.groupBuy.groupBuyProduct")}" />
			</li>
		</ul>
		<table class="input tabContent">
			<tr>
				<th>
					<span class="requiredField">*</span>${message("GroupBuy.name")}:
				</th>
				<td>
					<input type="text" name="name" class="text" maxlength="200" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.beginDate")}:
				</th>
				<td>
					<input type="text" id="beginDate" name="beginDate" class="text Wdate" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', maxDate: '#F{$dp.$D(\'endDate\')}'});" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.endDate")}:
				</th>
				<td>
					<input type="text" id="endDate" name="endDate" class="text Wdate" onfocus="WdatePicker({dateFmt: 'yyyy-MM-dd HH:mm:ss', minDate: '#F{$dp.$D(\'beginDate\')}'});" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.minimumQuantity")}:
				</th>
				<td colspan="2">
					<input type="text" id="minimumQuantity" name="minimumQuantity" class="text" maxlength="9" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.maximumQuantity")}:
				</th>
				<td colspan="2">
					<input type="text" name="maximumQuantity" class="text" maxlength="9" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.minimumGroupQuantity")}:
				</th>
				<td colspan="2">
					<input type="text" id="minimumGroupQuantity" name="minimumGroupQuantity" class="text" maxlength="9" />
				</td>
			</tr>
			<tr>
				<th>
					${message("GroupBuy.maximumGroupQuantity")}:
				</th>
				<td colspan="2">
					<input type="text" name="maximumGroupQuantity" class="text" maxlength="9" />
				</td>
			</tr>
			<tr class="memberRank">
				<th>
					${message("GroupBuy.memberRanks")}
				</th>
				<td colspan="2">
					[#list memberRanks as memberRank]
						<label>
							<input type="checkbox" name="memberRankIds" value="${memberRank.id}" />${memberRank.name}
						</label>
					[/#list]
				</td>
			</tr>
			<tr>
				<th>
					${message("admin.common.setting")}:
				</th>
				<td>
					<label>
						<input type="checkbox" name="isEnabled" value="true" checked="checked" />${message("GroupBuy.isEnabled")}
						<input type="hidden" name="_isEnabled" value="false" />
					</label>
				</td>
			</tr>
		</table>
		<table class="input tabContent">
			<tr>
				<td>
					<textarea id="editor" name="introduction" class="editor" style="width: 100%;"></textarea>
				</td>
			</tr>
		</table>
		<table id="groupBuyProductTable" class="input tabContent">
			<tr>
				<td colspan="6">
					<input type="text" name="stockMemo" id="stockMemo" class="text" value="" style="width: 90%;height: 40px;font-size: 30px;" />
					<label for="stockMemo" class="fieldError" style="display: none;">必填</label>
				</td>
				<td colspan="2">
					<input type="button" id="searchBtn" value="查询" class="button" />
				</td>
			</tr>
			<tr id="groupBuyProductTable" class="title">
				<th>
					${message("Product.sn")}
				</th>
				<th style="width: 40%;">
					${message("Product.name")}
				</th>
				<th>
					${message("Product.productCategory")}
				</th>
				<th>
					${message("Product.stockMemo")}
				</th>
				<th>
					${message("Product.cost")}
				</th>
				<th>
					${message("Product.price")}
				</th>
				<th>
					团购价
				</th>
				<th>
					${message("Product.stock")}
				</th>
				<th>
					${message("Product.sales")}
				</th>
				<th>
					${message("Product.shop")}
				</th>
				<th>
					${message("admin.common.order")}
				</th>
				<th>
					${message("admin.common.delete")}
				</th>
			</tr>
		</table>
		<table class="input">
			<tr>
				<th>
					&nbsp;
				</th>
				<td>
					<input type="submit" class="button" value="${message("admin.common.submit")}" />
					<input type="button" class="button" value="${message("admin.common.back")}" onclick="location.href='list.jhtml'" />
				</td>
			</tr>
		</table>
	</form>
</body>
</html>