[@friend_link_list count = 9]
<div id="friendLink">
	<div class="wrapper">
		<ul>
			[#list friendLinks as friendLink]
			<li>
				[#if friendLink.type=="image"]
				<span class="icon"> <a href="${friendLink.url}" target="_blank"><img src="${friendLink.logo}" alt="${friendLink.name}" title="${friendLink.name}" /></a>
				</span>
				[#else]
				<span class="name"> <a href="${friendLink.url}" target="_blank">${friendLink.name}</a> </span>
				[/#if]
			</li>
			[/#list]
		</ul>
	</div>
</div>
[/@friend_link_list]