<script>
var $delete = $("a.deleteCartItem");
var $price = $("#price");
var $total = $("#cart_goods_price_top");
var $st_count = $("#st_count");
// 删除
$delete.click(function() {
	var $this = $(this);
	var $li = $this.closest("li");
	var id = $this.attr("val");
	$.ajax({
		url: "${base}/cart/delete.jhtml",
		type: "POST",
		data: {id: id},
		dataType: "json",
		cache: false,
		beforeSend: function() {
			$this.prop("disabled", true);
		},
		success: function(data) {
			if (data.message.type == "success") {
				if (data.quantity > 0) {
					$li.remove();
					$total.text(currency(data.effectivePrice, true, true));
					$st_count.text(data.count);
					$("#cart_goods_count_top").text(data.count);
				} else {
					location.reload(true);
				}
			} else {
				$.message(data.message);
				setTimeout(function() {
					location.reload(true);
				}, 3000);
			}
		},
		complete: function() {
			$this.prop("disabled", false);
		}
	});
});
</script>

[#if cart==null||cart.cartItems==null||cart.cartItems.size()==0]
<b class="goodscar_none">购物车还没有商品!</b>
[#else]
<div class="new_goods">最新加入的商品</div>
<div id="sibox">
<ul class="goodscar_list"  style=" overflow-y:auto;height:200px" >
[#list cart.cartItems as cartItem]
	<li id="${cartItem.id}">
		<i>
			<a href="${base}" target="_blank">
				<img src="[#if cartItem.product.thumbnail??]${cartItem.product.thumbnail}[#else]${setting.defaultThumbnailProductImage}[/#if]" alt="${cartItem.product.name}" width="50" height="50" />
			</a>
		</i> 
		<span class="goodscar_listr">
			<h4>
				<a href="${base}${cartItem.product.path}" title="${cartItem.product.fullName}" target="_blank" class="goodscar_n">
					<span style="color:#D60000"></span>${cartItem.product.name}
				</a>
			</h4>
			<b class="goodscar_botm">
				<em id="price">${currency(cartItem.tempPrice,true,true)}</em>
				<a href="javascript:void(0);" class="hover deleteCartItem" val="${cartItem.id}">${message("shop.cart.delete")}</a>
			</b>
    	</span> 
	</li>
[/#list]
</ul>
<div>
<span class="goodscar_total">
	购物车总价：<b id="cart_goods_price_top">${currency(cart.effectivePrice,true,true)}</b>
</span>
<span class="car_bottom">
	<span class="fl">共选择<strong id="st_count">${cart.cartItems.size()}</strong>件商品</span>
	<a href="${base}/cart/list.jhtml" class="see_car">${message("shop.cart.step1")}</a></span> 

[/#if]

