<script>
	var $historyProduct = $("#historyProduct span");
	//浏览记录
	var historyProduct = getCookie("historyProduct");
	var historyProductIds = historyProduct != null ? historyProduct.split(",") : new Array();
	
	if (historyProductIds.length > 6) {
		historyProductIds.pop();
	}
	addCookie("historyProduct", historyProductIds.join(","), {path: ""});
	$.ajax({
		url: "${base}/product/history.jhtml",
		type: "GET",
		data: {ids: historyProductIds},
		dataType: "json",
		traditional: true,
		cache: false,
		success: function(data) {
			$.each(data, function (index, product) {
				var thumbnail = product.thumbnail != null ? product.thumbnail : "${setting.defaultThumbnailProductImage}";
				$historyProduct.append('<a href="${base}' + product.path + '" target="_blank"><img src="'+thumbnail+'" width="50" height="50"/></a>');
			});
		}
	});
</script>

<div class="top_user_hb" id="top_user_hb">
	<span class="top_user_login">
		[#if member!=null]
		您好&nbsp;&nbsp;&nbsp;&nbsp;${member.username}
		<a href="${base}/logout.jhtml">${message("shop.header.logout")}</a>
		[#else]
		<a href="${base}/login.jhtml">${message("shop.header.login")}</a>
		[/#if]
	</span>
	[#if member!=null]
        <ul class="top_user_ul">
          <li><i><img src="${base}/resources/mall/images/waitgoods.png" /></i><a href="${base}/member/order/list.jhtml">${message("shop.member.index.waitingPaymentOrderCount")}</a><span style="color:#F00">(${waitingPaymentOrderCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/mygoods.png" /></i><a href="${base}/member/order/list.jhtml">${message("shop.member.index.waitingShippingOrderCount")}</a><span style="color:#F00">(${waitingShippingOrderCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/waitpay.png" /></i><a href="${base}/member/message/list.jhtml">${message("shop.member.index.messageCount")}</a><span style="color:#F00">(${messageCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/buygoods.png" /></i><a href="${base}/member/coupon_code/list.jhtml">${message("shop.member.index.couponCodeCount")}</a><span style="color:#F00">(${couponCodeCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/backpay.png" /></i><a href="${base}/member/favorite/list.jhtml">${message("shop.member.index.favoriteCount")}</a><span style="color:#F00">(${favoriteCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/coupon.png" /></i><a href="${base}/member/product_notify/list.jhtml">${message("shop.member.index.productNotifyCount")}</a><span style="color:#F00">(${productNotifyCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/save_top.png" /></i><a href="${base}/member/review/list.jhtml">${message("shop.member.index.reviewCount")}</a><span style="color:#F00">(${reviewCount})</span></li>
          <li><i><img src="${base}/resources/mall/images/foot_top.png" /></i><a href="${base}/member/consultation/list.jhtml">${message("shop.member.index.consultationCount")}</a><span style="color:#F00">(${consultationCount})</span></li>
        </ul>
	[/#if]
    <div class="top_user_browse" id="historyProduct">
		<h3>${message("shop.product.historyProduct")}</h3>
		<span></span>
	</div>
</div>
     