<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>${message("admin.roleControl.list")}</title>
<meta name="author" content="" />
<meta name="copyright" content="" />
<link href="${base}/resources/admin/css/common.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="${base}/resources/admin/js/jquery.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/common.js"></script>
<script type="text/javascript" src="${base}/resources/admin/js/list.js"></script>
<script type="text/javascript">
$().ready(function() {

	var $delete = $("#listTable a.delete");
	
	[@flash_message /]

	// 删除
	$delete.click(function() {
		var $this = $(this);
		$.dialog({
			type: "warn",
			content: "${message("admin.dialog.deleteConfirm")}",
			onOk: function() {
				$.ajax({
					url: "delete.jhtml",
					type: "POST",
					data: {id: $this.attr("val")},
					dataType: "json",
					cache: false,
					success: function(message) {
						$.message(message);
						if (message.type == "success") {
							$this.closest("tr").remove();
						}
					}
				});
			}
		});
		return false;
	});

});
</script>
</head>
<body>
	<div class="path">
		<a href="admin/common/index.jhtml">${message("admin.path.index")}</a> &raquo; ${message("admin.roleControl.list")}<span>(${message("admin.page.total", page.total)})</span>
	</div>
	<div class="bar">
		<a href="add.jhtml" class="iconButton">
			<span class="addIcon">&nbsp;</span>${message("admin.common.add")}
		</a>
		<a href="javascript:;" id="refreshButton" class="iconButton">
			<span class="refreshIcon">&nbsp;</span>${message("admin.common.refresh")}
		</a>
	</div>
	<table id="listTable" class="list">
		<tr>
			<th>
				<span>${message("RoleControl.menu.name")}</span>
			</th>
			
			<th>
				<span>${message("RoleControl.name")}</span>
			</th>
			<th>
				<span>${message("RoleControl.method")}</span>
			</th>
			<th>
				<span>${message("RoleControl.roleControlName")}</span>
			</th>
			<th>
				<span>${message("admin.common.order")}</span>
			</th>
			<th>
				<span>是否显示</span>
			</th>
			<th>
				<span>${message("admin.common.handle")}</span>
			</th>
		</tr>
		[#list page.content as roleControl]
			<tr class="row">
				<td>
					${roleControl.menu.name}
				</td>
				<td>
					${roleControl.name}
				</td>
				<td>
					${roleControl.method}
				</td>
				<td>
					${roleControl.roleControlName}
				</td>
				<td>
					${roleControl.order}
				</td>
				<td>
					[#if !roleControl.isEnabled]
						<span class="red">否</span>
					[#elseif roleControl.isEnabled]
						<span class="green">是 </span>
					[#else]
						<span class="red">-</span>
					[/#if]
				</td>
				<td>
					<a href="edit.jhtml?id=${roleControl.id}">[${message("admin.common.edit")}]</a>
					<a href="javascript:;" class="delete" val="${roleControl.id}">[${message("admin.common.delete")}]</a>
				</td>
			</tr>
		[/#list]
	</table>
</body>
</html>