
   document.write("<script type='text/javascript'>jQuery(function(){jQuery('.slideBox').slide({mainCell:'.bd ul',effect:'fold',autoPlay:true});});</script>");  
  document.write("<div class='slideBox' id='iskyshop_advert'>");  
  document.write("<div class='hd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>1");
    document.write("</li>");
      document.write("<li>2");
    document.write("</li>");
      document.write("<li>3");
    document.write("</li>");
      document.write("<li>4");
    document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("<div class='bd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=24' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/6985b3d5-3ba5-4ad5-9691-e64c42e9bac9.jpg' width='909' height='248' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=25' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/1a8326f2-2dfb-4e93-929d-85ec08aa325c.jpg' width='909' height='248' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=26' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/ae9012a1-1f98-407f-8bd5-1514987e4e43.jpg' width='909' height='248' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=27' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/669aa986-360e-4c65-aded-b2563fc9fed1.jpg' width='909' height='248' /></a>");
  document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("</div>");
 