
   document.write("<script type='text/javascript'>jQuery(function(){jQuery('.slideBox').slide({mainCell:'.bd ul',effect:'fold',autoPlay:true});});</script>");  
  document.write("<div class='slideBox' id='iskyshop_advert'>");  
  document.write("<div class='hd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>1");
    document.write("</li>");
      document.write("<li>2");
    document.write("</li>");
      document.write("<li>3");
    document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("<div class='bd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=28' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/813a771f-8570-41c7-b1e4-13d652b53002.jpg' width='375' height='218' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=29' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/c794b66a-1995-4e5c-9314-582f734d5de7.jpg' width='375' height='218' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=30' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/749f2275-458e-4f54-abbf-6d128c9f5f68.jpg' width='375' height='218' /></a>");
  document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("</div>");

 