
   document.write("<div id='focus' class='focus'><div class='hd'><ul></ul></div><div class='bd'><ul>");
      document.write("<li><a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=10'><img src='http://b2b2c.iskyshop.com/upload/advert/06e5f613-d5c8-4d94-a998-5c29ab1bb5c4.jpg' width='100%' height='150' /></a></li>");
      document.write("<li><a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=&id=11'><img src='http://b2b2c.iskyshop.com/upload/advert/90933d2d-e830-4983-80d2-5e9725933d82.jpg' width='100%' height='150' /></a></li>");
    document.write("</ul></div></div>");
  document.write("<script\/>");
  document.write("TouchSlide({slideCell:'#focus',titCell:'.hd ul',mainCell:'.bd ul',effect:'leftLoop',autoPlay:true,autoPage:true});");
  document.write("</script>");
 