
   document.write("<script type='text/javascript'>jQuery(function(){jQuery('.slideBox').slide({mainCell:'.bd ul',effect:'fold',autoPlay:true});});</script>");  
  document.write("<div class='slideBox' id='iskyshop_advert'>");  
  document.write("<div class='hd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>1");
    document.write("</li>");
      document.write("<li>2");
    document.write("</li>");
      document.write("<li>3");
    document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("<div class='bd'>");
  document.write("<ul style='z-index:0;'>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=http://www.iskyshop.com&id=7' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/dc2dcad5-b48e-4d4e-ac66-396a7d4d6cf7.jpg' width='785' height='310' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=http://www.iskyshop.com&id=8' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/2b0b44a8-551f-4ee0-ac22-b0bc18d0ee91.jpg' width='785' height='310' /></a>");
  document.write("</li>");
      document.write("<li>");
    document.write("<a href='http://b2b2c.iskyshop.com/advert_redirect.htm?url=http://www.iskyshop.com&id=9' target='_blank'><img src='http://b2b2c.iskyshop.com/upload/advert/d67b432a-7788-4f89-aac7-017cfbe2eaee.jpg' width='785' height='310' /></a>");
  document.write("</li>");
    document.write("</ul>");
  document.write("</div>");
  document.write("</div>");
 