<script>
jQuery(document).ready(function(){
  jQuery("#navul li").each(function(){
    var original_url=jQuery(this).attr("original_url");
	if("/index.htm".indexOf(original_url)>=0){
	   jQuery(this).addClass("this");
	}
  });
});
</script>
<div class="nav">
	<div class="nav_center">
		<div class="nav_left">
			<h2>
				<a href="product_category.jhtml"><span>${message("shop.index.allProductCategory")}<em>
					<img src="${base}/resources/mall/images/nav_top.gif" width="7" height="4" /></em></span></a>
			</h2>
			[@product_category_root_list count = 8]
			<div class="index_topleft">
				<div class="left_menu" id="left_menu">
					[#list productCategories as rootProductCategory]
					<dl class="left_menu_dl[#if rootProductCategory_index%2==0] double [/#if]" child_count="${rootProductCategory.children.size()}" [#if rootProductCategory_index%2==0] gc_color="#E60012" [#else] gc_color="#33AC00" [/#if] id="${rootProductCategory.id}" style="position:relative;">
						<dt class="left_menu_dt" id="dts_${rootProductCategory.id}">
							<i class="left_menu_i">
								<img src="${base}/resources/mall/images/bb6441e3-cbc5-4ce7-b91c-477cc018d2a2.png" width="16" height="16" />
							</i>
							<strong class="left_menu_str">
								<a href="${base}${rootProductCategory.path}">${rootProductCategory.name}</a>
							</strong>
							<b class="left_menu_str_b">
								[@product_category_direct_children_list productCategoryId = rootProductCategory.id count=3]
								[#list productCategories as productCategory]
								<a href="${base}${productCategory.path}">${productCategory.name}</a> 
								[/#list]
								[/@product_category_direct_children_list]
							</b>
						</dt>
						<dd class="left_menu_dd" style="display:none" id="child_${rootProductCategory.id}">
							<div class="left_menu_con  this " id="left_menu_con_${rootProductCategory.id}">
								<span class="left_menu_sp">
									[@product_category_direct_children_list productCategoryId = rootProductCategory.id]
									<div class="left_menu_con_center">
									[#list productCategories as productCategory]
										<div class="left_menu_con_center_left">
											<dl>
												<dt>
													<a href="${base}${productCategory.path}">${productCategory.name}</a>
												</dt>
												[@product_category_direct_children_list productCategoryId = productCategory.id]
												[#list productCategories as productCategory]
												<dd>
													<a href="${base}${productCategory.path}">${productCategory.name}</a>
												</dd>
												[/#list]
												[/@product_category_direct_children_list]
											</dl>
										</div>
										[/#list]
									</div>
									[/@product_category_direct_children_list]
								</span>
							</div>
						</dd>
					</dl>
					[/#list]
				</div>
			</div>
			[/@product_category_root_list]
		</div>
		[@navigation_list position = "middle"]
		<ul id="navul">
			[#list navigations as navigation]
			<li><a  href="${navigation.url}"[#if navigation.isBlankTarget] target="_blank"[/#if] id="${navigation.id}"><span>${navigation.name}</span></a></li>
			[/#list]	
		</ul>
		[/@navigation_list]
	</div>
</div>