[#if setting.isCnzzEnabled && setting.cnzzSiteId?has_content && setting.cnzzPassword?has_content]
	<span style="display: none;">
		<script type="text/javascript" src="http://pw.cnzz.com/c.php?id=${setting.cnzzSiteId}&l=2" charset="gb2312"></script>
	</span>
[/#if]

<script type="text/javascript">
	var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
	document.write(unescape("%3Cspan id='cnzz_stat_icon_1254917827'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254917827%26show%3Dpic2' type='text/javascript'%3E%3C/script%3E"));
</script>